.container-panel {
    display: flex;
    justify-content: center;
    padding: 50px 5px 20px 5px;
}

.panel {
    max-width: 48rem;
    width: 100%;
}

.project-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #877457;
    font-weight: normal;
}

hr {
    width: 100%;
}

.project-index-company {
    padding: 10px;
    font-size: 18px;
}

.cards-panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-panel-logo-company {
    max-width: 235px;
    min-width: 235px;
    max-height: 130px;
    min-height: 130px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-company {
    width: 155px;
    height: 93px;
}

.btn-new {
    display: flex;
    align-items: center;
    width: 70px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}

.btn-new img {
    width: 18px;
    padding-left: 5px;
}

.btn-new p {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    cursor: pointer;
}

.link-adminland {
    position: absolute;
    top: 3.5rem;
    right: 0.5rem;
    padding-left: 2.2rem;
    opacity: 0.5;
    background-image: url(https://bc3-production-assets-cdn.basecamp-static.com/assets/icons/basecamp_key-gray-472842291baefcf2d36062bed8920fba0d2f82dfc9bb3453fca5b3943005929f.svg);
    background-position: left 1rem center;
    background-repeat: no-repeat;
    background-size: 1.0rem;
    cursor: pointer;
}

@media (max-width: 670px) {
    .link-adminland {
        display: none;
    }
}